<div class="container" style="padding:50px 0px 50px 0px">
    <div class="row" ui-view="footer">
        <div class="col-md-2 col-md-offset-3">
            <h5>Company</h5>
            <ul class="list-unstyled">
                <li>About</li>
                <li>Policies</li>
                <li>Terms &amp; Privacy</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Terms</h5>
        </div>
        <div class="col-md-2">
            <h5>Open a Shop</h5>
        </div>
    </div>
</div>
