<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project one</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/bootsnipp-cover.css' /> -->
        <link rel='stylesheet' href='/stylesheets/main.css' />

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/angular-ui-router.js"></script>
        <script src="/javascripts/main.js"></script>
    </head>
    <body ng-app="atbp">
    <% include /header.ejs %>P
    <div style="height:450px; background-image: url(/images/wallhaven-115365.jpg); background-size: 100% auto;">
        <div class="container">
            <div id="banner" style="padding:200px 0px 0px 0px">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" ui-view="content">
                        <h1>Featured listing</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include /footer.ejs %>
    </body>
</html>
