<div class="container">
    <div class="row">
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a href="http://placehold.it/300x320.png">
                <img class="img-thumbnail img-responsive" alt="" src="http://placehold.it/320x320" />
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div>
            </a>
        </div>
	</div>
</div>
