<!DOCTYPE html>
<html>
    <head>
    <title>Project one</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/angular-ui-router.js"></script>
        <script src="/javascripts/main.js"></script>
    </head>
    <body ng-app="atbp">
    <% include /header.ejs %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" ui-view="content">
            <div id="name" class="jumbotron">
                <h1><%= result %></h1>
                <%= searchItem %>
            </div>
        </div>
    </div>
    <% include /footer.ejs %>
    </body>
</html>
